/*** MODERN CSS RESET ***/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*** FONT IMPORT ***/
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

  /*** GLOBAL STYLES ***/
  :root {
    --font-family: 'Red Hat Display', sans-serif;
  }

  /*** COLOR VARIABLES ***/
  :root {
    /* primary */
    --dark-cyan: hsla(192, 37%, 48%, 1);
    --dark-violet: hsla(268, 34%, 53%, 1);
    /* secondary */
    --light-cyan: hsla(192, 90%, 77%, 1);
    --light-violet: hsla(268, 100%, 86%, 1);
    /* neutral */
    --black: rgb(55, 55, 82);
    --gray: hsla(240, 10%, 57%, 1);
    --light-gray: hsla(240, 10%, 57%, 0.25);
    --white: hsla(0, 0%, 98%, 1);
    /* buttom hover */
    --cyan-hover: hsla(192, 54%, 64%, 1);
    --violet-hover: hsla(268, 55%, 71%, 1);
  }
  
  /***GLOBAL STYLES ***/
  body {
    font-family: var(--font-family);
  }

 /***HEADER STYLES ***/

  .logo {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }



 .header {
    background-color: var(--white);
    padding: 2rem 0;
 }

 .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
 }      

 .header-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 450px;
  }

  .header-title {
  font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--black);
  }

  .header-title--highlight {
   background: linear-gradient(90deg, var(--dark-cyan) 0%, var(--dark-violet) 100%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
  }

  .header-description {
  font-size: 1rem;
    font-weight: 400;
  line-height: 1.5;
    color: var(--gray);
}

.hero-image {
  display: none;
}

.hero-left {
  width: 29%;
  margin-right: 20px;
}

.hero-right {
  width: 29%;
  margin-left: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  }

  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--dark-cyan);
    border-radius: 80px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .header-button--version {
    color: var(--light-cyan);
    margin-left: 5px;
  }

    .header-button:hover {
        background-color: var(--cyan-hover);
        cursor: pointer;
    }

    .header-button--first {
  background-color: var(--dark-cyan);
  color: var(--white);
    }


    .header-button--second {
        background-color: var(--dark-violet);
        color: var(--light-violet);
    }

    .header-button--second:hover {
        background-color: var(--violet-hover);
    }

/***FEATURES STYLES ***/
    .container {
        margin-top: 80px;
    }

    .features-one--line {
        width: 1px;
        height: 80px;
        border-left: 1px solid var(--light-gray);
        margin: 0 auto;
    }

    .features-one p {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        width: 40px;
        height:40px;
        margin: 0 auto;
        font-weight: 600;
        color: var(--gray);
        font-family: var(--font-family);
    }

    .features-one--images {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

.features-one--image {
  width: 200px;
  height: 200px;
        margin: 10px;
        border-radius: 10px;
    }

    .features-one--text {
        text-align: center;
        margin-top: 60px;
  width: 530px;
  margin: 0 auto;
    }

    .features-title {
        font-family: var(--font-family);
        font-weight: 700;
        line-height: 1.2;
        color: var(--dark-cyan);
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .features-description {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 1.2;
        color: var(--black);
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .features-text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        color: var(--gray);
        margin-bottom: 40px;
        padding: 0 22px;
    }

    .features-two--line {
        width: 1px;
        height: 80px;
        border-left: 1px solid var(--light-gray);
        margin: 0 auto;
  color: var(--light-gray);
    }

   

    .features-two--number {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        width: 40px;
        height:40px;
        margin: 0 auto;
        font-weight: 600;
        color: var(--gray);
        font-family: var(--font-family);
  z-index: 999;
        background-color: var(--white);
  position: relative;
    }

    .features-two--text {
  background: linear-gradient(var(--dark-cyan), var(--dark-cyan)), url('assets/mobile/image-footer.jpg');
        background-size: cover;
  background-position: center;
        position: relative;
        margin-top: -20px;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 70vh;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-two--text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/desktop/image-footer.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.25; /* adjust this value */
  z-index: -1;
}

.features-two--contentbox {
  display: flex;
  align-items: center;
  justify-content: center;
    }

    .features-two--title {
        font-family: var(--font-family);
  font-weight: 800;
  font-size: 1.4rem;
        line-height: 1.2;
  color: var(--white); 
  margin-left: 120px; 
  
}

.features-two--paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.6;
  color: var(--white);
  margin-right: 80px;
  margin-left: 90px;
  
}

.features-two--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--dark-violet);
  border-radius: 80px;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 200px;
  
}

.features-two--version {
  color: var(--light-violet);
  margin-left: 5px;
}


/***MEDIA QUERIES ***/

/*** DESKTOP MEDIA QUERIES ***/

@media (max-width: 1024px) {


  .header { 
    padding: 1rem 0;

  }

  .hero-image {
    display: none;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-description {
    font-size: 0.855rem;
    margin-bottom: 20px;
  }

  .hero-left {
    padding-left: 20px;
  }

  .hero-right {
    padding-right: 20px;
  }

  .features-one--image {
    width: 150px;
    height: 150px;
  }

  .features-one--text {
    margin-top: 40px;
  }

  .features-two--title {
    font-size: 1.4rem;
    
  }

  .features-two--paragraph {
    font-size: 0.911rem;
    margin-right: 40px;
    margin-left: 40px;
  }

  .features-two--button {
    margin-right: 145px;
  }
}

/*** TABLET MEDIA QUERIES ***/

@media (max-width: 768px) {

  .hero-left, .hero-right {
    display: none;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image {
    display: block;
    width: 90%;
  }

  .header-content-text {
    margin-top: 70px;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-description {
    font-size: 0.911rem;
    padding: 0 20px;
  }

  .features-one--image {
    width: 300px;
    height: 300px;
  }

  .features-two--contentbox {
    flex-direction: column;
  }

  .features-two--title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px; 
    margin-top: 10px;
  }

  .features-two--paragraph {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;
    width: 250px; 
  }

  .features-two--button {
    margin-right: 0;
    margin-left: 0;
   
  }



}

/*** MOBILE MEDIA QUERIES ***/ 

@media (max-width: 475px) {

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .header-description {
    width: 280px;
  }

 .header-buttons {
  flex-direction: column;
 }

 .features-one--image {
   flex-wrap: wrap;
   width: 150px;
   height: 150px;
  }

  .features-one--text {
    width: 100%;
    padding: 0 20px;
  }

  .features-two--text {
    height: 60vh;
    padding: 0 20px;
  }

  .features-two--contentbox {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-two--title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .features-two--paragraph {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 35px;
    width: 100%;
    max-width: 280px;
  }

 

  .features-description {
    font-size: 2rem;
    padding: 0 20px;
  }

  .features-text {
    font-size: 0.911rem;
    padding: 0 20px;
        margin-bottom: 20px;
  }

  .features-two--paragraph {
    font-size: 0.911rem;
    margin-right: 20px;
    margin-left: 20px;
  }

  
 }







