/*** MODERN CSS RESET ***/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*** FONT IMPORT ***/
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');

  /*** GLOBAL STYLES ***/
  :root {
    --font-family: 'Red Hat Display', sans-serif;
  }

  /*** COLOR VARIABLES ***/
  :root {
    /* primary */
    --dark-cyan: hsla(192, 37%, 48%, 1);
    --dark-violet: hsla(268, 34%, 53%, 1);
    /* secondary */
    --light-cyan: hsla(192, 90%, 77%, 1);
    --light-violet: hsla(268, 100%, 86%, 1);
    /* neutral */
    --black: rgb(55, 55, 82);
    --gray: hsla(240, 10%, 57%, 1);
    --light-gray: hsla(240, 10%, 57%, 0.25);
    --white: hsla(0, 0%, 98%, 1);
    /* buttom hover */
    --cyan-hover: hsla(192, 54%, 64%, 1);
    --violet-hover: hsla(268, 55%, 71%, 1);
  }


  @media (max-width: 769px) {
    .logo {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .hero-image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      .header {
        padding-left: 80px;
        padding-right: 80px;
      }

      .header-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.2;
        color: var(--black);
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }
    
      .header-title--highlight {
        color: var(--dark-cyan);
      }
    
      .header-description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6;
        color: var(--gray);
        text-align: center;
        margin-bottom: 40px;
        padding: 0 20px;
      }

      .header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .header-button {
        
        padding: 12px 24px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        
        color: var(--white);
        background-color: var(--dark-cyan);
        border-radius: 80px;
        border: none;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }
    
      .header-button--version {
        color: var(--light-cyan);
        margin-left: 5px;
      }
    
        .header-button:hover {
            background-color: var(--cyan-hover);
            cursor: pointer;
        }
    
        .header-button--first {
            margin-right: 15px;
        }
    
        .header-button--second {
            background-color: var(--dark-violet);
            color: var(--light-violet);
        }
    
        .header-button--second:hover {
            background-color: var(--violet-hover);
        }
    
  }


  @media (max-width: 376px) {
  

  /*** HEADER STYLES ***/

  .logo {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .header-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--black);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header-title--highlight {
    color: var(--dark-cyan);
  }

  .header-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--gray);
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--dark-cyan);
    border-radius: 80px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .header-button--version {
    color: var(--light-cyan);
    margin-left: 5px;
  }

    .header-button:hover {
        background-color: var(--cyan-hover);
        cursor: pointer;
    }

    .header-button--first {
        margin-bottom: 15px;
    }

    .header-button--second {
        background-color: var(--dark-violet);
        color: var(--light-violet);
    }

    .header-button--second:hover {
        background-color: var(--violet-hover);
    }

    .container {
        margin-top: 80px;
    }

    .features-one--line {
        width: 1px;
        height: 80px;
        border-left: 1px solid var(--light-gray);
        margin: 0 auto;
    }

    .features-one p {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        width: 40px;
        height:40px;
        margin: 0 auto;
        font-weight: 600;
        color: var(--gray);
        font-family: var(--font-family);
    }

    .features-one--images {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .features-one--images img {
        width: 130px;
        height: 130px;
        margin: 10px;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .features-one--text {
        text-align: center;
        margin-top: 60px;
    }

    .features-title {
        font-family: var(--font-family);
        font-weight: 700;
        line-height: 1.2;
        color: var(--dark-cyan);
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .features-description {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 1.2;
        color: var(--black);
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .features-text {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6;
        color: var(--gray);
        margin-bottom: 40px;
        padding: 0 22px;
    }

    .features-two {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .features-two--line {
        width: 1px;
        height: 80px;
        border-left: 1px solid var(--light-gray);
        margin: 0 auto;
        color: var(--light-gray);
    }

   

    .features-two--number {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        width: 40px;
        height:40px;
        margin: 0 auto;
        font-weight: 600;
        color: var(--gray);
        font-family: var(--font-family);
        z-index: 2;
        background-color: var(--white);
    }

    .features-two--text {
        background: linear-gradient(var(--dark-cyan), var(--dark-cyan)), url('assets/mobile/image-footer.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .features-two--text::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('assets/mobile/image-footer.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.25; /* adjust this value */
        z-index: -1;
    }

    .features-two--text {
        text-align: center;
        width: 100%;
        height: 100vh;
        position: relative;
        margin-top: -20px;
        opacity: 0.9;
        padding: 0 20px
    }

    .features-two--title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 2.125rem;
        line-height: 1.2;
        color: var(--white);
        margin-top: 95px;
        margin-bottom: 60px;      
    }

    .features-two--paragraph {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6;
        color: var(--white);
        margin-bottom: 55px;
    }

    .features-two--button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        color: var(--white);
        background-color: var(--dark-violet);
        border-radius: 80px;
        border: none;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin: 0 auto;
    }

    .features-two--version {
        color: var(--light-violet);
        margin-left: 5px;
    }


  }